<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="marca_azul.ico" rel="shortcut icon">
    <style>
    </style>

    <title>
        USPMUN |
        <%=erro.name %>
    </title>
</head>

<body>

    <section>
        <h1>
            <%=erro.name %>
        </h1>
        <h2>
            <%=erro.message %>
        </h2>
    </section>

    <footer>
        <p>
            <small>&copy; Universidade de São Paulo Model United Nations</small>
        </p>
    </footer>

    <script>

    </script>
</body>

</html>