<!DOCTYPE html>
<html lang="pt">

<!-- Danilo Bizarria de Oliveira -->
<!-- Diretor de Tecnologia - USPMUN -->
<!-- <danilobizarria@gmail.com> -->

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Google Tag Manager -->
	<script>
		(function (w, d, s, l, i) {
			w[l] = w[l] || []; w[l].push({
				'gtm.start':
					new Date().getTime(), event: 'gtm.js'
			}); var f = d.getElementsByTagName(s)[0],
				j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
					'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'GTM-P568L24');
	</script>
	<!-- End Google Tag Manager -->

	<link href="marca_azul.ico" rel="shortcut icon">

	<meta name="keywords" content="USPMUN, Model United Nations, Universidade de São Paulo">
	<meta name="description" content="A USPMUN é o Modelo de Simulação das Nações Unidas da Universidade de São Paulo que possui o objetivo de trazer para o
	ambiente acadêmico discussões atuais do sistema internacional, como as temáticas de Segurança Internacional, Comércio
	Internacional, Direitos Humanos e Meio Ambiente, e de estimular a prática de negociação e solução de controvérsias de
	modelo cooperativo e empático.">

	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

	<link href="/basic.min.css" rel="stylesheet" type="text/css">

	<!-- <link href="/basic.css" rel="stylesheet" type="text/css"> -->

	<script defer src="/fa/js/all.js"></script>

	<%=content.style %>

		<title>USPMUN |
			<%=content.title %>
		</title>
</head>

<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P568L24" height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->


	<header>
		<nav class="navbar navbar-expand-lg fixed-top bg-translucido outer-nav">
			<a href="/index" class="navbar-brand">
				<img class="img-fluid bar-logo" src="logo_branco-horizontal_mid.png" alt="Logo USPMUN">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar">
				<i class="fas fa-bars"></i>
			</button>

			<div class="collapse navbar-collapse d-lg-flex justify-content-lg-end" id="main-navbar">
				<ul class="navbar-nav mt-2">
					<li class="nav-item">
						<a href="/sobre" class="nav-link">SOBRE</a>
					</li>

					<li class="nav-item">
						<a href="/edicao" class="nav-link">EDIÇÃO</a>
					</li>

					<li class="nav-item">
						<a href="/comites" class="nav-link">COMITÊS</a>
					</li>

					<li class="nav-item">
						<a href="/inscricoes" class="nav-link">INSCRIÇÕES</a>
					</li>

					<li class="nav-item">
						<a href="/parcerias" class="nav-link">PARCERIAS</a>
					</li>

					<li class="nav-item">
						<a href="/duvidas" class="nav-link">FAQ</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>

	<section id="page-body" class="d-none m-0 p-0">
		<%=content.body %>
	</section>

	<hr />

	<footer class="d-flex text-center">
		<div class="footer-content center">
			<div class="redes-sociais d-flex justify-content-between">
				<a class="social btn-link" href="https://www.facebook.com/uspmun">
					<i class="fab fa-facebook"></i>
				</a>
				<a class="social" href="https://www.instagram.com/uspmun.oficial">
					<i class="fab fa-instagram"></i>
				</a>
				<a class="social" href="https://www.youtube.com/">
					<i class="fab fa-youtube"></i>
				</a>
			</div>
			<br/>
			<h6 class="d-block text-center">
				<small>&copy; Universidade de São Paulo Model United Nations</small>
			</h6>
			<h6 class="d-block text-center">
				<small>All rights reserved.</small>
			</h6>
		</div>
	</footer>

	<script src="/bootstrap/js/popper.min.js"></script>
	<script src="/bootstrap/js/jquery-3.3.1.slim.min.js"></script>
	<script src="/bootstrap/js/bootstrap.min.js"></script>

	<%=content.script %>

		<script>
			var $page;
			var data;
			var content;

			$(function () {
				$page = $("#page-body");
				data = $page.html();

				while (data.indexOf("&lt;") >= 0) {
					data = data.replace("&lt;", "<");
					data = data.replace("&gt;", ">");
				}

				content = $.parseHTML(data);

				$page.html(content);
				$page.removeClass("d-none");
			});
		</script>
</body>

</html>